In [10]:
import os
import sys
import pandas as pd
import streamlit as st 
import psycopg2
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
current_dir = os.getcwd()
print(current_dir)

# Get the parent directory
parent_dir = os.path.dirname(current_dir)
print(parent_dir)

# Insert the path to the parent directory
sys.path.insert(0, parent_dir)

from DB_connection.connection import PostgresConnection
#from DB_connection.myconn import read_data
from src.utils import missing_values_table, convert_bytes_to_megabytes

c:\Users\meet_\Documents\GitHub\Telco-database\notebooks
c:\Users\meet_\Documents\GitHub\Telco-database

In [11]:
db = PostgresConnection(dbname='telecom', user='postgres', password='post@5432')
db.connect()

# Example query
query = "SELECT * FROM xdr_data"
result = db.execute_query(query)

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result, columns=[desc[0] for desc in db.cursor.description])
print(df.head())  # Display the first few rows of the DataFrame

# Close the connection when done
db.close_connection()

Connected to PostgreSQL database!
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]
Connection closed.

In [12]:
missing_values_df = missing_values_table(df)
print("Missing Values in df:")
print(missing_values_df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.
Missing Values in df:
                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
Start                                                  1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
End ms                                                 1                0.0
Dur. (ms)                                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Total UL (Bytes)                                       1                0.0
Total DL (Bytes)                                       1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
50 Kbps < UL TP < 300 Kbps (%)            float64
UL TP > 300 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
50 Kbps < DL TP < 250 Kbps (%)            float64
250 Kbps < DL TP < 1 Mbps (%)             float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
Start                                      object
Start ms                                  float64
End                                        object
End ms                                    float64
Dur. (ms)                                 float64
Avg Bearer TP UL (kbps)                   float64
Avg Bearer TP DL (kbps)                   float64
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Total UL (Bytes)                          float64
Total DL (Bytes)                          float64

In [13]:
df['x'] = convert_bytes_to_megabytes(df, 'HTTP DL (Bytes)')

print(df)

           Bearer Id            Start  Start ms              End  End ms  \
0       1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1       1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2       1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3       1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4       1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0
...              ...              ...       ...              ...     ...
149996  7.277826e+18   4/29/2019 7:28     451.0   4/30/2019 6:02   214.0
149997  7.349883e+18   4/29/2019 7:28     483.0  4/30/2019 10:41   187.0
149998  1.311448e+19   4/29/2019 7:28     283.0  4/30/2019 10:46   810.0
149999  1.311448e+19   4/29/2019 7:28     696.0  4/30/2019 10:40   327.0
150000           NaN             None       NaN             None     NaN

        Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0       1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1       1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2       1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3       1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4       1089009.0  2.082014e+14   3.369980e+10  3.540701e+13
...           ...           ...            ...           ...
149996    81230.0  2.082022e+14   3.365069e+10  3.548311e+13
149997    97970.0  2.082019e+14   3.366345e+10  3.566051e+13
149998    98249.0  2.082017e+14   3.362189e+10  3.572121e+13
149999    97910.0  2.082021e+14   3.361962e+10  8.618620e+13
150000        NaN           NaN            NaN           NaN

           Last Location Name  ...  Youtube UL (Bytes)  Netflix DL (Bytes)  \
0       9.16456699548519E+015  ...        2.501332e+06        8.198936e+06
1                     L77566A  ...        1.911173e+07        1.833841e+07
2                     D42335A  ...        1.469958e+07        1.758779e+07
3                     T21824A  ...        1.514664e+07        1.399465e+07
4                     D88865A  ...        1.896287e+07        1.712458e+07
...                       ...  ...                 ...                 ...
149996                D20434A  ...        1.176343e+07        1.788370e+07
149997                D10223C  ...        8.288284e+06        1.935015e+07
149998                T51102A  ...        1.855903e+06        9.963942e+06
149999                L88342B  ...        8.305402e+06        3.322253e+06
150000                   None  ...        1.100941e+07        1.162685e+07

        Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  \
0             9.656251e+06       2.780823e+08       1.434415e+07
1             1.722713e+07       6.087501e+08       1.170709e+06
2             6.163408e+06       2.295846e+08       3.956300e+05
3             1.097942e+06       7.995382e+08       1.084972e+07
4             4.152180e+05       5.277072e+08       3.529801e+06
...                    ...                ...                ...
149996        1.967816e+07       5.266097e+08       9.197207e+06
149997        2.129315e+07       6.268931e+08       4.735033e+06
149998        5.065760e+06       5.535395e+08       1.339432e+07
149999        1.317259e+07       3.525370e+08       2.529475e+06
150000        1.100175e+07       4.220447e+08       8.288398e+06

        Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0           1.717444e+08      8.814393e+06        36749741.0
1           5.269042e+08      1.505514e+07        53800391.0
2           4.106926e+08      4.215763e+06        27883638.0
3           7.490399e+08      1.279728e+07        43324218.0
4           5.507095e+08      1.391032e+07        38542814.0
...                  ...               ...               ...
149996      3.264510e+06      1.348742e+07        57628851.0
149997      7.121804e+08      2.457758e+06        39135081.0
149998      1.211009e+08      1.131473e+07        34912224.0
149999      8.147131e+08      1.406930e+06        29626096.0
150000      4.211005e+08      8.264799e+06               NaN

        Total DL (Bytes)   x
0            308879636.0 NaN
1            653384965.0 NaN
2            279807335.0 NaN
3            846028530.0 NaN
4            569138589.0 NaN
...                  ...  ..
149996       574175259.0 NaN
149997       666648844.0 NaN
149998       592786405.0 NaN
149999       371895920.0 NaN
150000               NaN NaN

[150001 rows x 56 columns]

In [14]:
#st.title("Tellco data analysis")
#st.write(df)

Data Cleaninig

In [15]:
df.rename(columns={
    'Dur. (ms)': 'session_duration',
    'Total DL (Bytes)': 'total_dl_bytes',
    'Total UL (Bytes)': 'total_ul_bytes'
}, inplace=True)


# Drop rows where essential columns are missing
df.dropna(subset=['MSISDN/Number'], inplace=True)


# Fill missing values
df['session_duration'].fillna(df['session_duration'].mean(), inplace=True)
df['total_dl_bytes'].fillna(0, inplace=True)
df['total_ul_bytes'].fillna(0, inplace=True)


# Create a column for total traffic
df['total_traffic'] = df['total_dl_bytes'] + df['total_ul_bytes']


# Check for duplicates and remove if necessary
df.drop_duplicates(inplace=True)


# Display summary statistics
print(df.describe())

C:\Users\meet_\AppData\Local\Temp\ipykernel_25636\2460049309.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['session_duration'].fillna(df['session_duration'].mean(), inplace=True)
C:\Users\meet_\AppData\Local\Temp\ipykernel_25636\2460049309.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_dl_bytes'].fillna(0, inplace=True)
C:\Users\meet_\AppData\Local\Temp\ipykernel_25636\2460049309.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_ul_bytes'].fillna(0, inplace=True)

          Bearer Id       Start ms         End ms  session_duration  \
count  1.485060e+05  148935.000000  148935.000000      1.489350e+05
mean   1.014676e+19     499.246732     498.675442      1.048702e+05
std    2.893262e+18     288.555630     288.089136      8.106343e+04
min    6.917538e+18       0.000000       0.000000      7.142000e+03
25%    7.349883e+18     250.000000     251.000000      5.788350e+04
50%    7.349883e+18     499.000000     500.000000      8.639900e+04
75%    1.304243e+19     749.000000     750.000000      1.327000e+05
max    1.318654e+19     999.000000     999.000000      1.859336e+06

               IMSI  MSISDN/Number          IMEI  Avg RTT DL (ms)  \
count  1.489350e+05   1.489350e+05  1.489350e+05    121291.000000
mean   2.082016e+14   4.188282e+10  4.849493e+13       108.224741
std    1.522166e+10   2.447443e+12  2.242829e+13       594.299952
min    2.040471e+14   3.360100e+10  4.400152e+11         0.000000
25%    2.082014e+14   3.365130e+10  3.546071e+13        32.000000
50%    2.082015e+14   3.366371e+10  3.572221e+13        45.000000
75%    2.082018e+14   3.368349e+10  8.611970e+13        69.000000
max    2.082522e+14   8.823971e+14  9.900120e+13     96923.000000

       Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  ...  Netflix DL (Bytes)  \
count    121310.000000            148935.000000  ...        1.489350e+05
mean         17.637235             13286.171390  ...        1.162756e+07
std          84.793054             23978.591234  ...        6.724686e+06
min           0.000000                 0.000000  ...        4.200000e+01
25%           2.000000                43.000000  ...        5.779947e+06
50%           5.000000                63.000000  ...        1.164269e+07
75%          15.000000             19681.000000  ...        1.747072e+07
max        7120.000000            378160.000000  ...        2.325919e+07

       Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  \
count        1.489350e+05       1.489350e+05       1.489350e+05
mean         1.100017e+07       4.220256e+08       8.289085e+06
std          6.358918e+06       2.439763e+08       4.782090e+06
min          3.500000e+01       2.516000e+03       5.900000e+01
25%          5.474451e+06       2.104587e+08       4.130162e+06
50%          1.099563e+07       4.234208e+08       8.291222e+06
75%          1.650429e+07       6.331620e+08       1.243184e+07
max          2.201196e+07       8.434419e+08       1.655879e+07

       Other DL (Bytes)  Other UL (Bytes)  total_ul_bytes  total_dl_bytes  \
count      1.489350e+05      1.489350e+05    1.489350e+05    1.489350e+05
mean       4.211473e+08      8.263189e+06    4.111764e+07    4.546251e+08
std        2.431970e+08      4.768708e+06    1.127933e+07    2.441528e+08
min        3.290000e+03      1.480000e+02    2.866892e+06    7.114041e+06
25%        2.102119e+08      4.145072e+06    3.321774e+07    2.430996e+08
50%        4.218716e+08      8.266089e+06    4.114101e+07    4.558708e+08
75%        6.316602e+08      1.238204e+07    4.903248e+07    6.656577e+08
max        8.434425e+08      1.655882e+07    7.833131e+07    9.029696e+08

                  x  total_traffic
count  67764.000000   1.489350e+05
mean     115.512385   4.957428e+08
std      968.460433   2.443876e+08
min        0.000040   2.895611e+07
25%        0.113738   2.844641e+08
50%        1.976879   4.968460e+08
75%       25.698389   7.064483e+08
max    72530.636168   9.559848e+08

[8 rows x 52 columns]

In [16]:
import matplotlib
matplotlib.use('Qt5Agg')
import seaborn as sns
### 1. Top 10 Handsets Used by Customers
top_handsets = df.groupby('Handset Type')['IMEI'].count().nlargest(10).reset_index()
top_handsets.columns = ['handset_model', 'usage_count']
print("Top 10 Handsets Used by Customers:")
print(top_handsets)


### 2. Top 3 Handset Manufacturers
top_manufacturers = df.groupby('Handset Manufacturer')['IMEI'].count().nlargest(3).reset_index()
top_manufacturers.columns = ['manufacturer', 'usage_count']
print("Top 3 Handset Manufacturers:")
print(top_manufacturers)


### 3. Top 5 Handsets per Top 3 Manufacturers
top_3_manufacturers = top_manufacturers['manufacturer'].tolist()


# Filter the data for the top 3 manufacturers
filtered_df = df[df['Handset Manufacturer'].isin(top_3_manufacturers)]


# Find top 5 handsets for each manufacturer
top_5_handsets_per_manufacturer = (
    filtered_df.groupby(['Handset Manufacturer', 'Handset Type'])['IMEI'].count()
    .groupby(level=0, group_keys=False)
    .nlargest(5).reset_index()
)
top_5_handsets_per_manufacturer.columns = ['manufacturer', 'handset_model', 'usage_count']
print("Top 5 Handsets per Top 3 Manufacturers:")
print(top_5_handsets_per_manufacturer)


### 4. User Behavior on Applications


# Aggregate user behavior per application

"""
app_behavior = df.groupby(['IMEI']).agg(
    total_sessions=('IMEI', 'count'),
    total_session_duration=('Dur. (ms)', 'sum'),
    total_download=('Total DL (Bytes)', 'sum'),
    total_upload=('Total UL (Bytes)', 'sum'),
).reset_index()


print("User Behavior on Applications:")
print(app_behavior.head())
"""



### Visualization of Results
import numpy as np
import matplotlib.pyplot as plt

# a. Top 10 Handsets Used by Customers
plt.figure(figsize=(10, 6))
sns.barplot(x='usage_count', y='handset_model', data=top_handsets)
plt.title('Top 10 Handsets Used by Customers')
plt.xlabel('Usage Count')
plt.ylabel('Handset Model')
plt.show()


# b. Top 3 Handset Manufacturers
plt.figure(figsize=(8, 5))
sns.barplot(x='usage_count', y='manufacturer', data=top_manufacturers)
plt.title('Top 3 Handset Manufacturers')
plt.xlabel('Usage Count')
plt.ylabel('Manufacturer')
plt.show()


# c. Top 5 Handsets per Top 3 Manufacturers
plt.figure(figsize=(12, 8))
sns.barplot(x='usage_count', y='handset_model', hue='manufacturer', data=top_5_handsets_per_manufacturer)
plt.title('Top 5 Handsets per Top 3 Manufacturers')
plt.xlabel('Usage Count')
plt.ylabel('Handset Model')
plt.legend(title='Manufacturer')
plt.show()

Top 10 Handsets Used by Customers:
                  handset_model  usage_count
0              Huawei B528S-23A        19727
1       Apple iPhone 6S (A1688)         9413
2        Apple iPhone 6 (A1586)         9012
3                     undefined         8931
4        Apple iPhone 7 (A1778)         6304
5       Apple iPhone Se (A1723)         5176
6        Apple iPhone 8 (A1905)         4985
7       Apple iPhone Xr (A2105)         4562
8  Samsung Galaxy S8 (Sm-G950F)         4480
9        Apple iPhone X (A1901)         3810
Top 3 Handset Manufacturers:
  manufacturer  usage_count
0        Apple        59464
1      Samsung        40579
2       Huawei        34366
Top 5 Handsets per Top 3 Manufacturers:
   manufacturer                   handset_model  usage_count
0         Apple         Apple iPhone 6S (A1688)         9413
1         Apple          Apple iPhone 6 (A1586)         9012
2         Apple          Apple iPhone 7 (A1778)         6304
3         Apple         Apple iPhone Se (A1723)         5176
4         Apple          Apple iPhone 8 (A1905)         4985
5        Huawei                Huawei B528S-23A        19727
6        Huawei                    Huawei E5180         2074
7        Huawei  Huawei P20 Lite Huawei Nova 3E         2018
8        Huawei                      Huawei P20         1479
9        Huawei                  Huawei Y6 2018          997
10      Samsung    Samsung Galaxy S8 (Sm-G950F)         4480
11      Samsung      Samsung Galaxy A5 Sm-A520F         3708
12      Samsung     Samsung Galaxy J5 (Sm-J530)         3682
13      Samsung     Samsung Galaxy J3 (Sm-J330)         3464
14      Samsung    Samsung Galaxy S7 (Sm-G930X)         3176